# The pre-shared secret key between your Shard and the ClassicUO Web Proxy.
WebIdentitySecret=wa1jl4vuyw9ssu6i

# Kick clients when they fail the secret check, this should be true if you have a secret set.
WebIdentityKickOnBadSecret=true

# This sets the user's real IP to the NetState to make sure user IP limits work across both web/desktop.
WebIdentityIpLimitWorkaround=true
